<template>
  <div class="main">
    <div class="character" v-if="Object.keys(character).length != 0">
      <div class="row">
        <div class="col-12">
          <h2 class="q-mt-none text-weight-bold">{{character.name}}</h2>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-sm-5 col-md-2">
              <q-img :src="character.image" :alt="character.name" class="img-class"></q-img>
            </div>
            <div class="col-sm-7 col-md-10">
              <p class="text-h4">
                <strong>Status:</strong>
                {{character.status}}
              </p>
              <p class="text-h4">
                <strong>Gender:</strong>
                {{character.gender}}
              </p>
              <p class="text-h4">
                <strong>Origin:</strong>
                {{character.origin.name}}
              </p>
              <p class="text-h4">
                <strong>Species:</strong>
                {{character.species}}
              </p>
            </div>
          </div>
          <div class="row q-mt-xl">
            <div class="col-12">
              <p class="text-h5 text-weight-bold">Episodios donde apareció</p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 q-pa-md" v-for="episode in episodes" :key="episode.id">
                  <EpisodeCard :episode="episode" />
                </div>
              </div>
            </div>
          </div>
          <div class="row q-mt-xl">
            <div class="col-12">
              <p class="text-h5 text-weight-bold">Personajes interesantes</p>
            </div>
            <div class="col-12">
              <div class="row justify-between">
                <div class="col-12 col-md-3 q-mt-lg" v-for="item in interestingCharacters" :key="item.id">
                  <CharacterCard :character="item" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="message text-center" v-else>
      <h4 :class="{'text-red': message}">{{message || 'cargando...'}}</h4>
    </div>
  </div>
</template>

<script>
import CharacterCard from '../components/CharacterCard'
import EpisodeCard from '../components/EpisodeCard'

export default {
  name: 'Details',
  components: {
    CharacterCard, EpisodeCard
  },
  created() {
    this.getCharacter(this.$route.params.id)
    this.getInteresting()
  },
  data() {
    return {
      character: {},
      interestingCharacters: [],
      episodes: [],
      message: ''
    }
  },
  methods: {
    getCharacter(id) {
      this.character = {}
      this.episodes = []
      this.$axios.get(`/character/${id}`)
        .then(res => {
          this.character = res.data
          this.getEpisodes(res.data.episode)
        })
        .catch(err => {
          this.message = 'Error al buscar contenido.'
        })
    },
    getEpisodes(episodes) {
      episodes.forEach(item => {
        this.$axios.get(item)
          .then(res => {
            this.episodes.push(res.data)
          })
      });
    },
    getInteresting() {
      this.interestingCharacters = []
      let ids = []

      for (let index = 0; index < 3; index++) {
        let number = Math.floor(Math.random() * (100 - 1) + 1);
        ids.push(number)
      }

      this.$axios.get(`/character/${ids.join()}`)
        .then(res => {
          this.interestingCharacters = res.data
        })
    }
  },
  watch: {
    '$route.params.id'(id) {
      this.getCharacter(id)
      this.getInteresting()
    }
  }
}
</script>

<style scoped>
.img-class {
  min-height: 150px;
  max-height: 220px;
  min-width: 150px;
  max-width: 220px;
}
</style>
