<template>
  <div class="row items-center">
    <div class="col-12">
      <q-input square outlined v-model="nameFilter" label="Buscar..." clearable />
    </div>
    <div class="col-12 q-pt-md q-mb-lg">
      <div class="row">
        <div class="col-12 col-md-1 q-pt-lg">
          <span>Filtrar por:</span>
        </div>
        <div class="col-12 col-md-3">
          <q-select square outlined v-model="statusFilter" :options="statusOptions" label="Status" clearable class="q-pa-md" />
        </div>
        <div class="col-12 col-md-3">
          <q-select
            square
            outlined
            v-model="originFilter"
            :options="originOptions"
            emit-value
            map-options
            label="Origin"
            clearable
            class="q-pa-md"
          />
        </div>
      </div>
    </div>
    <div class="col-12" v-if="characters.length != 0">
      <div class="row">
        <div v-for="character in characters" :key="character.id" class="col-12 col-md-3 q-pa-lg">
          <CharacterCard :character="character" />
        </div>
      </div>
      <div class="row justify-center">
        <div class="q-pa-lg">
          <q-pagination
            v-model="currentPage"
            :max="totalPages"
            :max-pages="6"
            boundary-numbers
          />
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg text-center" v-else>
      <h4 :class="{'text-red': message}">{{message || 'cargando...'}}</h4>
    </div>
  </div>
</template>

<script>
import CharacterCard from '../components/CharacterCard'

export default {
  name: 'PageIndex',
  components: {
    CharacterCard
  },
  created() {
    this.getCharacters()
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 0,
      nameFilter: null,
      statusFilter: null,
      statusOptions: ['alive', 'dead', 'unknown'],
      originFilter: null,
      characters: [],
      message: ''
    }
  },
  methods: {
    getCharacters() {
      this.characters = []
      let params = []
      if (this.currentPage) {
        params.push(`page=${this.currentPage}`)
      }
      if (this.nameFilter) {
        params.push(`name=${this.nameFilter}`)
      }
      if (this.statusFilter) {
        params.push(`status=${this.statusFilter}`)
      }
      this.$axios.get(`/character/?${params.join('&')}`)
        .then(res => {
          this.totalPages = res.data.info.pages
          this.characters = res.data.results
          if (res.data?.info) {
            this.getAllCharacters({total: res.data.info.count})
          }
        })
        .catch(err => {
          this.message = 'Error al buscar contenido.'
        })
    },
    getAllCharacters({total}) {
      if (this.allCharacters.length == 0) {
        let ids = []
        for (let index = 1; index <= total; index++) {
          ids.push(index)
        }
        this.$axios.get(`/character/${ids.join()}`)
          .then(res => {
            let origins = []
            this.allCharacters = res.data
            res.data.map(item => {
              origins.push(item.origin.name)
            })
            this.originOptions = [... new Set(origins)]
          })
      }
    },
    getCharactersByOrigin() {
      this.characters = []
      let resultsPerPage = 20
      let paginate = function paginate(array, page_size, page_number) {
        return array.slice((page_number - 1) * page_size, page_number * page_size);
      }
      let results = this.allCharacters.filter(item => {
        if (item.origin.name === this.originFilter) {
          return item
        }
      })
      if (this.statusFilter) {
        results = results.filter(item => {
          if (item.status.toLowerCase() === this.statusFilter) {
            return item
          }
        })
      }
      if (this.nameFilter) {
        results = results.filter(item => {
          if (item.name.toLowerCase().includes(this.nameFilter.toLowerCase())) {
            return item
          }
        })
      }
      if (results.length == 0) {
        this.message = 'No se encontraron resultados'
      }
      else {
        this.totalPages = Math.ceil(results.length / resultsPerPage)
        this.characters = paginate(results, resultsPerPage, this.currentPage)
      }
    }
  },
  watch: {
    currentPage() {
      if (this.originFilter == null) {
        this.getCharacters()
      }
      else {
        this.getCharactersByOrigin()
      }
    },
    nameFilter() {
      this.currentPage = 1
      if (this.originFilter == null) {
        this.getCharacters()
      }
      else {
        this.getCharactersByOrigin()
      }
    },
    statusFilter() {
      this.currentPage = 1
      if (this.originFilter == null) {
        this.getCharacters()
      }
      else {
        this.getCharactersByOrigin()
      }
    },
    originFilter(value) {
      this.currentPage = 1
      if (value) {
        this.getCharactersByOrigin()
      }
      else {
        this.getCharacters()
      }
    }
  },
  computed: {
    allCharacters: {
      get () {
        return this.$store.state.characters.allCharacters
      },
      set (payload) {
        this.$store.commit('characters/setCharacters', payload)
      }
    },
    originOptions: {
      get () {
        return this.$store.state.characters.originOptions
      },
      set (payload) {
        this.$store.commit('characters/setOriginOptions', payload)
      }
    }
  }
}
</script>
