<template>
  <router-link style="text-decoration: none; color: inherit;" :to="{name: 'Details', params: {id: character.id}}">
    <q-card class="q-pb-md">
      <q-card-section id="img-section" class="text-center q-pa-none">
        <q-img :src="character.image" :alt="character.name" class="img-class"></q-img>
      </q-card-section>
      <q-card-section>
        <h5 class="q-mt-none q-mb-md">{{character.name}}</h5>
        <p class="q-ma-none">
          <strong>Estado:</strong>
          {{character.status}}
        </p>
        <p class="q-ma-none">
          <strong>Origen:</strong>
          {{character.origin.name}}
        </p>
      </q-card-section>
    </q-card>
  </router-link>
</template>

<script>
export default {
  name: 'CharacterCard',
  props: {
    character: {
      required: true
    }
  }
}
</script>

<style scoped>
#img-section {
  background-color: gray;
}
.img-class {
  min-height: 160px;
  max-height: 220px;
  min-width: 160px;
  max-width: 220px;
}
</style>
