<template>
  <q-card>
    <q-card-section>
      <p class="text-weight-bold q-mb-none">{{episode.name}}</p>
      <p class="text-italic q-mb-none">{{episode.air_date}}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'EpisodioCard',
  props: {
    episode: {
      required: true
    }
  }
}
</script>
