<template>
  <q-layout view="hhh lpr fff">

    <q-header bordered class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <router-link :to="{name: 'Index'}">
            Rick and Morty
          </router-link>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page class="q-pa-xl">
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
